body{
    background-color: #E5E5E5;
    font-family: Roboto;
font-size: SemiBold;
}
.carousel-container {
    width: 90%;
    height: auto;
    margin: auto;
   
  }
  
  .carousel {
    display: flex;
    flex-direction: column;
  }
  
  .carousel-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: -3px;
    font-size: 24px;
    cursor: pointer;
    height: 3em;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  
  .carousel-item:nth-child(1) {
    background-color: #1184D1; /* Rouge */
  }
  
  .carousel-item:nth-child(2) {
    background-color: #0777C2; /* Vert */
  }
  
  .carousel-item:nth-child(3) {
    background-color: #EF8451; /* Bleu */
  }
  
  .carousel-item:nth-child(4) {
    background-color: #EA6419; /* Jaune */
  }
  

  .carousel-item.active {
    height: auto;
    z-index: 1;
  }
  
  .item-header {
    padding: 10px;
    color: #FFF;
  }
  
  .item-content {
    display: none;
    padding: 10px;
  
    color: #FFF;
  }
  
  .carousel-item.active .item-content {
    
    display: block;
    height: 459px;
    padding: 1em;
  }
  .bandolog-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.bandolog {
    padding: 1em;
    margin-top: 4em;
}

.bandolog-item {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.widjet {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 2em;
    margin-top: 3em;
   gap: 20px;
    padding: 20px;
    border-radius: 5px;
    
}.category-banner {
    display: flex;
    align-items: center;
    padding: 10px;
    width: fit-content;
    color: #FFFFFF;
  }
  
  .oval {
    width: 53px;
    height: 20px;
    background-color: #3399CC;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.widget {
 
  }
  
  .widget-title {
    font-weight: bold;
  }
  
  .widget-text {
    margin-top: 10px;
  }
  
  .category-label {

  }
  
  .date {
    font-style: italic;
    color: black;
  }
  .img-widj {
    width: 100%;
    border-radius: 5px;
}
.widget-block {
   
    width: 255px;
    margin: auto;
    background: #F5F4F2;
    padding: 2em;
    border-radius:  10px;
    -webkit-border-radius:  10px;
    -moz-border-radius:  10px;
    -ms-border-radius:  10px;
    -o-border-radius:  10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    align-items: flex-start;
    justify-content: space-around;
}

img.info-widj {
    width: 35%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    background: black;
    padding: 33%;
    margin: auto;
    position: relative;
    display: block;
}
.carousel-container {
    position: relative;
  }
  
  .round-button {
    position: absolute;
  
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .round-button img {
    width: 20px;
  }
  .texte p {
    font-size: 16px;
    width: 50%;
}
.sous-titel {
    margin-top: 4em;
    margin-bottom: 5em;
}
hr.ligne {
    width: 50%;
    left: 0px;
    position: relative;
    float: left;
    color: white;
    border: 1px solid white;
}
.texte {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 980px) {
    .widjet {
        display: grid;
        grid-template-columns: auto;
        padding: 2em;
        margin-top: 3em;
        gap: 20px;
        padding: 20px;
        border-radius: 5px;
    }
    .bandolog-item img {
        width:80%;
    }
    .bandolog-item {
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: flex-end;
    }
    .widget-block {
        width: 90%;
    }
    .carousel-container {
        width: 100%;
        height: auto;
        margin: auto;
    }
    .carousel {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    img.info-widj {
        width: auto;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
        background: black;
        padding: 28%;
        margin: auto;
        position: relative;
        display: block;
    }
    .widjet-item {
        margin-top: 5em;
    }
    }